<div class="page-header">
  <h1>ログインしてください</h1>
</div> 
<%= form_tag :session do %>
<ul>
  <li>
    <%= label_tag :name, "ログイン名" %>
    <%= text_field_tag :name, params[:name] %>
  </li>
  <li>
    <%= label_tag :password, "パスワード" %>
    <%= password_field_tag :password %>
  </li>
  <li>
    <%= check_box_tag :remember_me %>
    <%= label_tag :remember_me, "次回から自動ログイン", :class => "plain" %>
  </li>
  <li class="buttons">
    <%= submit_tag("ログイン", :class => 'btn btn-primary') %>
  </li>
</ul>
<% end %>
